
#header {
    padding: 1rem;
}
#header .logo {
    height: 150px;
}

#header .lcs-logo {
    height: 100px;
}

#header #header-text{ 
    color:rgba(255, 0, 0, 0.616);
    font-weight: bold;
}
.heading{
    color: rgba(255, 0, 0, 0.616);
}
.g-form{
    text-align: center;
}
.g-form iframe {
    margin: auto;
}

.bg-pink {
    background-color: #f5d8d8;
}

footer {
     background-color: #e7e7e7;
     padding: 1rem;
     text-align: center;
}